

.App {
  // text-align: center;
  min-height: 100vh;
  position: relative;
  &__header {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    color: white;
    // position: sticky;
    &__title {
      // border: 1px solid red;
      width: 15%;
      text-transform: uppercase;
      display: flex;
      h1 {
        padding-left: .2em;
      }
      span {
        color: $primary;
      }
      img {
        margin-right: .1em;
        width: 20%;
        object-fit: contain;
      }

    }

  }
  &__main {
    &__content {
      &__subtitle {
        width: 75%;
        margin: auto;
        h2 {
          text-align: center;
        }
        &__desc {
          width: 45%;
          display: flex;
          flex-direction: column;
          margin: auto;
          p {
            display: inline;
            margin: 0;
          }
        }
      }
      &__description {
        // border: 1px solid red;
        margin-top: 5rem;
        p {
          width: 38%;
          margin: auto;
          margin-bottom: 2rem;
          text-align: center;
          font-size: 2rem;
          span {
            color: $primary;
            font-weight: bold;
          }
        }
        img {
          width: 75%;
          margin: auto;
          display: block;
          object-fit: contain;
        }
        &__list {
          
          width: 75%;
          min-height: 60vh;
          margin: auto;
          display: flex;
          flex-direction: column;
          &__item {
            &-1, &-2 {
              width: 100%;
              height: 50vh;
              border: 2px solid $primary;
              border-radius: 8px;
              box-shadow: 1px 1px 2px 0px $primary;
              display: flex;
              justify-content: space-between;
              position: relative;
              margin-bottom: 2rem;
              &__left {
                width: 50%;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &__title {
                  width: 80%;
                  height: 20vh;
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  margin-bottom: 1.5rem;
                  h3 {
                    font-size: 1.5rem;
                    margin-left: 1rem;
                    position: absolute;
                    top: 2%;
                    left: 20%;
                  }
                  h4 {
                    position: absolute;
                    font-size: 1.2rem;
                    margin-left: 1rem;
                    bottom: 0;
                    left: 20%;
                  }
                  img {
                    position: absolute;
                    left: 2%;
                    top: 5%;
                    width: 15%;
                    object-fit: contain;
                  }
                }
                &__desc {
                  border-top: 1px solid $primary;
                  width: 80%;
                  min-height: 70%;
                  margin: auto;
                  display: flex;
                  flex-direction: column;
                  p {
                    margin: 2rem 0 ;
                    width: 100%;
                    font-style: italic;
                    font-size: 1rem;
                    text-align: left;
                  }
                  a {
                    margin-top: 25%;
                    text-decoration: none;
                    color: $primary;
                    margin-bottom: 2rem;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &__right {
                width: 50%;
                video, img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          
        }
        &__reservation {
          width: 75%;
          margin: auto;
          margin-bottom: 5rem;
          text-align: center;
          h3 {
            color: $primary;
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
          }
          h4 {
            color: $tertiary;
            width: 100%;
            font-size: 1.2rem;
            margin-bottom: 2rem;
          }
          &__calendar {
            width: 100%;
            margin-top: 3rem;
          }
        }
      }
    }
  }
  &__contact, &__footer {
    width: 75%;
    margin: auto;
    text-align: center;
    position: sticky;
    a {
      display: block;
      text-decoration: none;
      color: $primary;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__contact {
    bottom: 5%;
    left: 10%;
  }
  &__footer {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    bottom: 0;
    left: 37%;
    button {
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.react-calendar{
  margin-left: 35%;
}


.modal {
  border: 1px solid red;
  position: absolute;
  left: 20%;
  // top: 20%;
  // bottom: 0;
  display: none;
  &--open {
    display: block;
  }
  &--close {
    display: none;
  }
}

