
// SI réservation unique pour la journée
.react-calendar .reserved-day-fire {
  background-color: #DCA343;
}
.react-calendar .reserved-day-makeup {
  background-color: #953442;
}
.react-calendar .reserved-day-massage {
  background-color: #16C34A;
}
.react-calendar .reserved-day-hypno {
  background-color: #845EC2;
}

// SI réservations multiples sur une journée 

.day-tile.reserved-day-fire-morning::before,
.day-tile.reserved-day-makeup-morning::before,
.day-tile.reserved-day-massage-morning::before,
.day-tile.reserved-day-hypno-morning::before {
  content: "";
  position: absolute;
  top: 0;
  left: 45px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.day-tile.reserved-day-fire-morning::before {
  background-color: #DCA343;
}

.day-tile.reserved-day-makeup-morning::before {
  background-color: #953442;
}

.day-tile.reserved-day-massage-morning::before {
  background-color: #16C34A;
}

.day-tile.reserved-day-hypno-morning::before {
  background-color: #845EC2;
}

.day-tile.reserved-day-fire-afternoon::after,
.day-tile.reserved-day-makeup-afternoon::after,
.day-tile.reserved-day-massage-afternoon::after,
.day-tile.reserved-day-hypno-afternoon::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 45px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
}

.day-tile.reserved-day-fire-afternoon::after {
  background-color: #DCA343;
}

.day-tile.reserved-day-makeup-afternoon::after {
  background-color: #953442;
}

.day-tile.reserved-day-massage-afternoon::after {
  background-color: #16C34A;
}

.day-tile.reserved-day-hypno-afternoon::after {
  background-color: #845EC2;
}

.day-tile {
  position: relative;
}

/* Pour les réservations acceptées */
.status-accepted {
  border: 2px solid green;
}

/* Pour les réservations refusées */
.status-rejected {
  border: 2px solid red;
}

.react-calendar {
  position: relative;
  min-width: 100%;
  min-height: auto;
  color: $primary-light;
}





.App {
  height: 100vh;
  position: relative;
  z-index: 999;
  &__header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: $secondary;
    border-bottom: 2px solid $secondary;
    box-shadow: 0px 1px 10px $secondary;
    padding: 0 1em;
    
    &__title {
      display: flex;
      align-items: center;
      font-weight: bold;
      flex-direction: column;

      a {
        text-decoration: none;
        color: $secondary;
        display: flex;
        h1 {
          padding-left: 0.4em;
          color: rgb(54, 54, 54);
          text-transform: uppercase;
        }
        
        span {
          color: rgb(153, 131, 92);
          display: flex;
        }
        
        img {
          margin-right: 0.1em;
          width: 25%;
          object-fit: contain;
        }
      }
    }
    &__login {
      margin-right: 2rem;
      display: flex;
      form {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;
        input {
          border: 1px solid $primary-light;
          color: $tertiary;
          padding: 0.5em; 
          outline: none; 
  
          &:focus {
            border-color: darken($primary-light, 10%);
          }
        }
        button {
          background-color: $primary-light;
          color: white;
          border: none;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background-color: white;
            color: $primary-light;
            border: 2px solid $primary-light;
          }
        }
      }

      &__text {
        color: green;
        margin-right: 1rem;
        align-self: center;
        &--error {
          color: red;
        }
      }
      &__greeting {
        display: flex;
        align-items: center;
        gap: 1rem;
      
        &__text {
          color: green;
        }
      
        &__button {
          background-color: $primary-light;
          color: white;
          border: none;
          padding: 0.5em 1em;
          border-radius: 0.5em;
          font-weight: bold;
          cursor: pointer;
      
          &:hover {
            background-color: white;
            color: $primary-light;
            font-weight: bold;
            border: 2px solid $primary-light;
          }
        }
      }
      
    }
  }
  
  
  &__main {
    &__content {
      margin-top: 10%;
      &__subtitle {
        text-align: center;
        margin-bottom: 1.875rem;
        width: 75%;
        margin: auto;
      
        h2 {
          font-size: 2rem;
          color: $primary-light;
          margin-bottom: 1.25rem;
          text-transform: uppercase;
          font-weight: bold;
        }
      
        &__desc {
          width: 75%;
          margin: auto;
          border: 1px solid $secondary;
          padding: 1.25rem;
          border-radius: 0.625rem;
          box-shadow: 0 1px 3px $secondary;
          
          p {
            font-size: 1rem;
            color: $primary-light;
            line-height: 1.5;
            margin-bottom: 0.625rem;
            font-weight: bold;
          }
          
          h3 {
            font-size: 1.28rem;
            color: $tertiary;
            margin-top: 1.25rem;
            font-weight: bold;
            border-bottom: 1px solid $primary-light;
          }
        }
      }

      &__image {
        width: 40%;
        height: auto;
        margin: auto;
        margin-top: 2rem;
        video {
          width: 100%;
          object-fit: contain;
          border-radius: 5px;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
          transition: transform 0.3s ease-in-out
        }
        img:hover {
          transform: scale(1.05); /* Agrandit l'image lorsque l'utilisateur passe la souris dessus */
        }
      }
      
      &__description {
        margin-top: 5rem;
        p {
          width: 38%;
          margin: auto;
          margin-bottom: 2rem;
          text-align: center;
          font-size: 2rem;
          span {
            color: $primary-light;
            font-weight: bold;
          }
        }
        img {
          width: 75%;
          margin: auto;
          display: block;
          object-fit: contain;
        }
        &__list {
          width: 75%;
          min-height: 60vh;
          margin: auto;
          display: flex;
          flex-direction: column;
          &__item {
            &-1 {
              border: 2px solid $fire;
              box-shadow: 2px 2px 15px 0px $fire;
              &__left {
                &__desc {
                  border-top: 2px solid $fire;
                  a {
                    color: $fire;
                  }
                }
              }
            }
            &-2 {
              border: 2px solid $makeup;
              box-shadow: 2px 2px 15px 0px $makeup;
              &__left {
                &__desc {
                  border-top: 2px solid $makeup;
                  a {
                    color: $makeup;
                  }
                }
              }
            }
            &-3 {
              border: 2px solid $massage;
              box-shadow: 2px 2px 15px 0px $massage;
              &__left {
                &__desc {
                  border-top: 2px solid $massage;
                  a {
                    color: $massage;
                  }
                }
              }
            }
            &-4 {
              border: 2px solid $hypno;
              box-shadow: 2px 2px 15px 0px $hypno;
              &__left {
                &__desc {
                  border-top: 2px solid $hypno;
                  a {
                    color: $hypno;
                  }
                }
              }
            }
            &-1, &-2, &-3, &-4 {
              width: 100%;
              height: 50vh;
              border-radius: 8px;
              display: flex;
              justify-content: space-between;
              position: relative;
              margin-bottom: 2rem;
              &__left {
                width: 50%;
                max-height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &__title {
                  width: 90%;
                  height: 10vh;
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  h3 {
                    font-size: 1.3rem;
                    margin-left: 1rem;
                    position: absolute;
                    top: 0;
                    left: 20%;
                  }
                  h4 {
                    position: absolute;
                    font-size: 1.2rem;
                    margin-left: 1rem;
                    top: 30%;
                    left: 20%;
                  }
                  img {
                    border-radius: 50%;
                    position: absolute;
                    left: 2%;
                    top: 5%;
                    width: 15%;
                    object-fit: contain;
                  }
                }
                &__desc {
                  width: 80%;
                  height: 35vh;
                  margin: auto;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                  p {
                    margin: 2rem 0 ;
                    width: 100%;
                    font-style: italic;
                    font-size: 1rem;
                    text-align: left;
                  }
                  h5 {
                    font-size: .8rem;
                    a {
                      text-decoration: none;
                    }
                  }
                  
                }
                &__link {
                  a {
                    margin-top: 25%;
                    text-decoration: none;
                    margin-bottom: 2rem;
                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }
              }
              &__right {
                width: 50%;
                video, img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          
        }
        &__reservation {
          width: 75%;
          margin: auto;
          margin-bottom: 5rem;
          text-align: center;
          h3 {
            color: $primary-light;
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
          }
          h4 {
            color: $tertiary;
            width: 100%;
            font-size: 1.2rem;
            margin-bottom: 2rem;
          }
          &__calendar {
            width: 100%;
            margin-top: 3rem;
          }
        }
      }
    }
  }
  &__footer {
    z-index: 999;
    width: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: static; 
    margin-top: auto; 
    border-bottom: 2px solid $secondary;
    box-shadow: 0px 1px 10px $secondary;
    a {
      display: block;
      text-decoration: none;
      color: $primary-light;
      &:hover {
        text-decoration: underline;
      }
    }
    &__content {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin: auto;
    button {
      border: none;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    }
    &__contact {
      margin-top: 1rem;
      bottom: 5%;
      left: 10%;
    }
  }
  /* Styles pour les écrans de tablettes et plus petits */
  @media (max-width: 1200px) {
    &__main {
      
      &__content {
        margin-top: 20% !important;
        &__subtitle {
          width: 100%;
          h2 {
            font-size: 1.7rem;
          }
        
          &__desc {
            width: 80%;
            p {
              font-size: .8rem;
              line-height: 1.2;
            }
            
            h3 {
              font-size: 1rem;
              border-bottom: none;
            }
          }
        }
        &__description {
          p {
            width: 75%;
            font-size: 1.7rem;
          }
          &__list {
            
            width: 90%;
            &__item {
              &-1, &-2, &-3, &-4 {
                &__left {
                  &__title {
                    width: 90%;
                    height: 1vh !important;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    margin-top: 1rem;
                    h3 {
                      font-size: .8rem;
                    }
                    h4 {
                      font-size: .7rem;
                      margin-top: 3.5rem;
                    }
                    img {
                      border-radius: 50%;
                      position: absolute;
                      left: 2%;
                      top: 5%;
                      width: 20%;
                      object-fit: contain;
                    }
                  }
                  &__desc {
                    p {
                      font-size: 1rem;
                    }
                    
                  }
                  &__link {
                    a {
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
            
          }
          
        }

      }
    } 
    &__footer {
      font-size: .8rem;
      a {
        text-decoration: underline;
      }
      &__content {
      width: 30%;
      flex-direction: column;
      button {
        text-decoration: underline;
      }
      }
    }
  }

    /* Styles pour les écrans de 926px et plus petits */
  @media (max-width: 926px) {
    .App {
      &__header {
        justify-content: space-between;
        font-size: .8rem;
        &__title {
          width: 50%;
    
          a {
            h1 {
              font-size: 1rem;
              margin-top: 1rem;
            }
            
            
            img {
              margin-right: 0;
              width: 30%;
            }
          }
        }
        &__login {
          margin-right: 0;
          width: 50%;
          form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5em;
            input {
              border: 1px solid $primary-light;
              color: $tertiary;
              padding: 0.5em; 
              outline: none; 
      
              &:focus {
                border-color: darken($primary-light, 10%);
              }
            }
            button {
              background-color: $primary-light;
              color: white;
              border: none;
              padding: 0.5em 1em;
              border-radius: 0.5em;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                background-color: white;
                color: $primary-light;
                border: 2px solid $primary-light;
              }
            }
          }

          &__greeting {
            display: flex;
            flex-direction: column;
            gap: 0;
          
            &__text {
              color: green;
              text-align: center;
              margin-right: 1rem;
            }
          
            &__button {
              margin-bottom: 1rem;
            }
          }
          
        }
      }

      &__main {
        margin-top: 8rem;
        &__content {
          &__subtitle {
            width: 100% !important;
            h2 {
              font-size: 1.6rem;
            }

            &__desc {
              width: 80% !important;
              p {
                font-size: .75rem;
                line-height: 1.1;
              }

              h3 {
                font-size: .95rem;
              }
            }
          }
          &__description {
            p {
              width: 80% !important;
              font-size: 1.6rem;
            }
            &__list {
            
              width: 90%;
              &__item {
                &-1, &-2, &-3, &-4 {
                  &__left {
                    &__title {
                      width: 90%;
                      height: 1vh !important;
                      margin-top: .5rem !important;
                      h3 {
                        font-size: .6rem;
                      }
                      h4 {
                        font-size: .6rem;
                        margin-top: 2.5rem;
                      }
                      
                    }
                    &__desc {
                      p {
                        font-size: .7rem !important;
                      }
                      
                      &__link {
                        a {
                          font-size: .7rem !important;
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }
              }
              
            }
          }
        }
      }
      &__footer {
        font-size: .75rem;
        &__content {
          width: 35%;
        }
      }
    }
  }

  /* Styles pour les écrans de 844px et plus petits */
  @media (max-width: 844px) {
    .App {
      &__header {
        justify-content: space-between;
        font-size: .8rem;
        &__title {
          width: 50%;
    
          a {
            h1 {
              font-size: 1rem;
              margin-top: 1rem;
            }
            
            
            img {
              margin-right: 0;
              width: 30%;
            }
          }
        }
        &__login {
          margin-right: 0;
          width: 50%;
          form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5em;
            input {
              border: 1px solid $primary-light;
              color: $tertiary;
              padding: 0.5em; 
              outline: none; 
      
              &:focus {
                border-color: darken($primary-light, 10%);
              }
            }
            button {
              background-color: $primary-light;
              color: white;
              border: none;
              padding: 0.5em 1em;
              border-radius: 0.5em;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                background-color: white;
                color: $primary-light;
                border: 2px solid $primary-light;
              }
            }
          }

          &__greeting {
            display: flex;
            flex-direction: column;
            gap: 0;
          
            &__text {
              color: green;
              text-align: center;
              margin-right: 1rem;
            }
          
            &__button {
              margin-bottom: 1rem;
            }
          }
          
        }
      }

      &__main {
        margin-top: 8rem;
        &__content {
          &__subtitle {
            width: 100% !important;
            h2 {
              font-size: 1.6rem;
            }

            &__desc {
              width: 80% !important;
              p {
                font-size: .75rem;
                line-height: 1.1;
              }

              h3 {
                font-size: .95rem;
              }
            }
          }
          &__description {
            p {
              width: 80% !important;
              font-size: 1.6rem;
            }
            &__list {
            
              width: 90%;
              &__item {
                &-1, &-2, &-3, &-4 {
                  &__left {
                    &__title {
                      width: 90%;
                      height: 1vh !important;
                      margin-top: .5rem !important;
                      h3 {
                        font-size: .6rem;
                      }
                      h4 {
                        font-size: .6rem;
                        margin-top: 2.5rem;
                      }
                      
                    }
                    &__desc {
                      p {
                        font-size: .7rem !important;
                      }
                      
                      &__link {
                        a {
                          font-size: .7rem !important;
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }
              }
              
            }
          }
        }
      }
      &__footer {
        font-size: .75rem;
        &__content {
          width: 35%;
        }
      }
    }
  }

  /* Styles pour les écrans de 812px et plus petits */
  @media (max-width: 812px) {
    .App {
      &__header {
        justify-content: space-between;
        font-size: .8rem;
        &__title {
          width: 50%;
    
          a {
            h1 {
              font-size: 1rem;
              margin-top: 1rem;
            }
            
            
            img {
              margin-right: 0;
              width: 30%;
            }
          }
        }
        &__login {
          margin-right: 0;
          width: 50%;
          form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5em;
            input {
              border: 1px solid $primary-light;
              color: $tertiary;
              padding: 0.5em; 
              outline: none; 
      
              &:focus {
                border-color: darken($primary-light, 10%);
              }
            }
            button {
              background-color: $primary-light;
              color: white;
              border: none;
              padding: 0.5em 1em;
              border-radius: 0.5em;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                background-color: white;
                color: $primary-light;
                border: 2px solid $primary-light;
              }
            }
          }

          &__greeting {
            display: flex;
            flex-direction: column;
            gap: 0;
          
            &__text {
              color: green;
              text-align: center;
              margin-right: 1rem;
            }
          
            &__button {
              margin-bottom: 1rem;
            }
          }
          
        }
      }

      &__main {
        margin-top: 8rem;
        &__content {
          &__subtitle {
            width: 100% !important;
            h2 {
              font-size: 1.6rem;
            }

            &__desc {
              width: 80% !important;
              p {
                font-size: .75rem;
                line-height: 1.1;
              }

              h3 {
                font-size: .95rem;
              }
            }
          }
          &__description {
            p {
              width: 80% !important;
              font-size: 1.6rem;
            }
            &__list {
              width: 90%;
              &__item {
                &-1, &-2, &-3, &-4 {
                  &__left {
                    &__title {
                      width: 90%;
                      height: 1vh !important;
                      margin-top: .5rem !important;
                      h3 {
                        font-size: .6rem;
                      }
                      h4 {
                        font-size: .6rem;
                        margin-top: 2.5rem;
                      }

                      img {
                        width: 25%;
                      }
                      
                    }
                    &__desc {
                      p {
                        margin-top: 4.5rem !important;
                        font-size: .7rem !important;
                      }
                      
                      &__link {
                        margin-top: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        h5 {
                          font-size: .7rem !important;
                        }
                        a {
                          font-size: .7rem !important;
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }
              }
              
            }
          }
        }
      }
      &__footer {
        font-size: .75rem;
        &__content {
          width: 35%;
        }
      }
    }
  }

  /* Styles pour les écrans de 800px et plus petits */
  @media (max-width: 800px) {
    .App {
      &__header {
        justify-content: space-between;
        font-size: .8rem;
        &__title {
          width: 50%;
    
          a {
            h1 {
              font-size: 1rem;
              margin-top: 1rem;
            }
            
            
            img {
              margin-right: 0;
              width: 30%;
            }
          }
        }
        &__login {
          margin-right: 0;
          width: 50%;
          form {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5em;
            input {
              border: 1px solid $primary-light;
              color: $tertiary;
              padding: 0.5em; 
              outline: none; 
      
              &:focus {
                border-color: darken($primary-light, 10%);
              }
            }
            button {
              background-color: $primary-light;
              color: white;
              border: none;
              padding: 0.5em 1em;
              border-radius: 0.5em;
              font-weight: bold;
              cursor: pointer;
              &:hover {
                background-color: white;
                color: $primary-light;
                border: 2px solid $primary-light;
              }
            }
          }

          &__greeting {
            display: flex;
            flex-direction: column;
            gap: 0;
          
            &__text {
              color: green;
              text-align: center;
              margin-right: 1rem;
            }
          
            &__button {
              margin-bottom: 1rem;
            }
          }
          
        }
      }

      &__main {
        margin-top: 8rem;
        &__content {
          &__subtitle {
            width: 100% !important;
            h2 {
              font-size: 1.6rem;
            }

            &__desc {
              width: 80% !important;
              p {
                font-size: .75rem;
                line-height: 1.1;
              }

              h3 {
                font-size: .95rem;
              }
            }
          }
          &__description {
            p {
              width: 80% !important;
              font-size: 1.6rem;
            }
            &__list {
              width: 90%;
              &__item {
                &-1, &-2, &-3, &-4 {
                  &__left {
                    &__title {
                      width: 90%;
                      height: 1vh !important;
                      margin-top: .5rem !important;
                      h3 {
                        font-size: .6rem;
                      }
                      h4 {
                        font-size: .6rem;
                        margin-top: 2.5rem;
                      }

                      img {
                        width: 25%;
                      }
                      
                    }
                    &__desc {
                      p {
                        margin-top: 4.5rem !important;
                        font-size: .7rem !important;
                      }
                      
                      &__link {
                        margin-top: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        h5 {
                          font-size: .7rem !important;
                        }
                        a {
                          font-size: .7rem !important;
                          text-decoration: underline;
                        }
                      }
                    }
                  }
                }
              }
              
            }
          }
        }
      }
      &__footer {
        font-size: .75rem;
        &__content {
          width: 35%;
        }
      }
    }
  }


}


.form-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  z-index: 1000;

  h3 {
    font-size: 1.5rem;
    color: $primary-light;
    margin-bottom: 1.5rem;
  }

  label {
    font-size: 1rem;
    color: $primary-light;
    margin-bottom: 0.5rem;
    display: block;
  }

  input, select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $primary-light;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    &.day {
      box-shadow: none !important;
      &:hover {
        cursor: pointer;
      }
    }
  }

  button {
    width: 30%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: $primary-light;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    &:nth-last-child(2) {
      margin-right: 1rem;
    }
  }

  button:hover {
    background-color: darken($secondary, 10%);
  }
  @media (max-width: 926px) {
    width: 70% !important;
    }
  @media (max-width: 800px) {
    width: 70% !important;
    button {
      width: 35%;
      font-size: .9rem;
    }
    }
  
  
}


.modal {
  display: none;
  border: 1px solid red;
  background-color: $primary-light;
  width: 90%;
  position: absolute;
  right: 0;
  bottom: 5%;
  display: none;
  &--open {
    display: block;
  }
  &--close {
    display: none;
  }
}

